// The default content-box for the site. Used everywhere to give proper spacing, background, and flourishes.
@mixin content-box() {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(#000, 0.2);
  padding: 20px 10px 10px;
  border-bottom: 10px solid #333;

  // Taken from the grid section to match the padding in between
  margin-top: $column-gutter / 2;
  margin-bottom: $column-gutter / 2;
}

// Generic page header
@mixin section-title {
  @include content-box;
  position: relative;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 20px 10px 10px;
  border-bottom: 10px solid $primary-color;
}

// Shows various icons in the corner
@mixin corner-icon($icon: star, $color: $success-color, $icon-color: #fff ){

    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 42px 42px 0 0;
    border-color: $color transparent transparent transparent;
    border-radius: 0;
    z-index: 1;

  &:before {
    @include icon;
    @extend .icon-#{$icon};
    color: $icon-color;
    position: absolute;
    left: 3px;
    top: 12px;
    background: transparent;
    line-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-size: 20px;
    width: 0;
    height: 0;
    z-index: 2;
  }
}

@mixin vertical-align {
  top: 50%;
  transform: translateY(-50%);
}

// Box sizing
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}