// Box sizing
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

// Body defaults
body {
  font-size: $base-font-size;
  color: $body-font-color;
  background-color: $body-background-color;
  font-family: $body-font-family;
}

// Links
a {
  color: $link-color;
  &.invert {
    color: $link-hover-color;
    &:hover {
      color: $link-color;
    }
  }
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}