// The bottommost footer of the site
#site-footer {
  max-width: none;
  background-color: $container-color;
  color: light-or-dark-text($container-color);

  // Direct underlying rows (that normally have no maxwidth)
  > .columns > .row {
    max-width: $row-width;
    margin: 0 auto;
  }
}