// Top menu
#site-top-navigation {
  background: #333;
  padding: 10px 0;
  margin-bottom: $column-gutter / 2;
  text-align: right;
  color: #fff;

  // Items
  a {
    color: #fff;
    &:hover {
      color: darken(#fff, 20%);
    }
  }

  ul.menu {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  li.menu-item {
    margin: 0 5px;
    padding: 0;
    display: inline-block;
    font-size: 0.8em;
  }

  // Extra items
  // Home
  li.menu-item.home a:before {
    @include icon;
    @extend .icon-home;
    margin-right: 3px;
  }
  // Account
  li.menu-item.account a:before {
    @include icon;
    @extend .icon-user;
    margin-right: 3px;
  }
  // Cart
  li.menu-item.cart a:before {
    @include icon;
    @extend .icon-cart3;
    margin-right: 3px;
  }
  // Contact
  li.menu-item.contact a:before {
    @include icon;
    @extend .icon-location;
    margin-right: 3px;
  }
}

// The main nav at the top of the site
#site-navigation {
  position: relative;

  // Eliminate the default styling
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }

  p {
    margin: 0 !important;
  }

  a {
    color: $body-font-color;
    &:hover {
      color: $anchor-font-color-hover;
    }
  }

  .nav-container {
    @include content-box;
    padding-left: 0;
    padding-right: 0;
  }

  // The top UL list
  .menu {
    padding: 20px 0;
    position: relative;
  }

  // Each brand item with its picture
  .menu-item-brand {
    float: left;
    text-align: center;

    // Cursor for the image
    > p {
      cursor: pointer;
    }
  }

  // This menu is only 1 layer deep. So this refers to the "mega-menu" dropdown
  .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 20px;
    width: 100%;
    z-index: 10;
    background: #fff;
    box-shadow: 0 10px 20px rgba(#000, 0.4);
    color: #222;
    text-align: left;
    display: none;

    // Display when active
    &.active {
      display: block;
    }
  }

  .brand-link {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 0.9em;
    vertical-align: middle;

    span {
      vertical-align: middle;
    }
  }

  // Each grid area on the left for the lines
  .line-section {
    height: 150px;
    width: 75px;
    float: left;

    // Add some space between the furthest right and the series'
    &:last-of-type {
      margin-right: 10px;
    }

    // Each grid item inside of the grid areas for the lines
    .line {
      height: 75px;
      width: 75px;
      text-align: center;
      vertical-align: middle;
      background-color: #fff;
      border: 1px solid transparent;
      cursor: pointer;
      transition: background-color 300ms;

      // Make sure the image is perfectly centered
      img {
        @include vertical-align;
      }

      // Hover effect
      &:hover {
        background-color: darken(#fff, 10%);
      }

      // Differentiate when active
      &.active {
        background-color: darken(#fff, 15%);
      }
    }
  }

  // Each area to the right of the line grid. Contains the series'
  .series-section {
    display: none;
    height: 150px;
    padding: 10px;

    // Show only series sections that are currently active
    &.active {
      display: block;
    }

    // The title of the section (the line name)
    .line-title {
      @extend h2;
      font-size: 150%;
      margin: 0 0 10px 0;
    }

    // Each individual series list item
    .series {
      float: left;
      margin: 0;

      // The separators of every item
      .sep {
        margin: 0 10px;
      }
    }
  }
}