// Generic page header
.section-title {
  @include section-title;

  // Header
  h1, h2 {
    margin: 0;
  }

  // Sorting form
  .woocommerce-ordering {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;

    select {
      margin: 0;
    }
  }

  // Result count
  .woocommerce-result-count {
    margin: 0;
  }
}

// Basic page content
.page-content {
  @include content-box;
}

// Product pagination
.woocommerce-pagination {
  @include content-box;
}