$product-button-color: #333;
$product-button-height: 28px;
$product-button-grad1: #a1d149;
$product-button-grad2: darken($product-button-grad1, 7%);
$product-title-font-size: 0.8em;
$product-title-line-height: 1.2em;

// Styles each product box
@mixin product-box {
  padding: 10px 10px 30px 10px;
  position: relative;
}

// Displays the button and price
@mixin product-action {

  // The container
  .product.woocommerce {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: #fff;
    text-align: center;
    color: #555;
  }

  // Action button
  a.button {
    position: relative;
    float:right;
    border-radius: 0;
    box-shadow: none;
    border: none;
    background: $product-button-color;
    color: #fff;
    text-shadow: none;
    height: $product-button-height;
    line-height: $product-button-height;
    width: 100%;
    margin: 0;
    padding: 0;

    // Added
    &.added {
      text-indent: -9999px;
      &:before {
        @include icon;
        @extend .icon-checkmark;
        line-height: $product-button-height;
        text-indent: 0;
        position: absolute;
        right: auto;
        left: 50%;
        margin-left: -8px;
      }
    }

    // Loading
    &.loading {
      &:before {
        @include icon;
        @extend .icon-spinner6;
        animation: spinner 1s cubic-bezier(.27,.44,.84,.63) infinite;
        height: 100%;
        width: 50px;
        position: absolute;
        left: 50%;
        margin-left: -25px;

        // Center it on the screen vertically and horizontally
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        z-index: 2;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(#000,0.7);
        z-index: 1;
      }
    }

    // Hover
    &:hover {
      background: darken($product-button-color, 10%);
    }
  }

  // View Cart
  .added_to_cart {
    position: absolute;
    bottom: $product-button-height;
    left: 0;
    right: 0;
    background: #fff;
    &:after {
      @include icon;
      content: '\e732';
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  // The orig price in an on-sale item
  del {
    color: #aaa;
  }
}

// A grid of products
.product-grid {

  // The action area
  @include product-action;

  // Prevent last item from floating right
  .columns {
    float: left !important;
  }

  // Each individual product container
  .product-box {
    @include content-box;
    @include product-box;
    border-bottom: none;

    // Sale!!
    &.on-sale {
      a.button {
        background: $success-color;
      }
    }

    a.added_to_cart {
      color: $body-font-color;
      &:hover {
        color: $anchor-font-color-hover;
      }
    }

    // The main image
    .product-image {
      text-align: center;
    }
  }

  // The area under the product containing the info about the product
  .product-info {
    margin-top: 10px;
    .product-title {
      font-size: $product-title-font-size;
      line-height: $product-title-line-height;
      color: $body-font-color
    }
    .product-price {
      margin-top: 10px;
      text-align: center;
    }
  }
}

// On sale
.product-sale {
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-width: 42px 42px 0 0;
  border-color: $success-color transparent transparent transparent;
  border-radius: 0;
  z-index: 1;

  &:before {
    color: #fff;
    position: absolute;
    content: '$';
    font-weight: bold;
    left: 6px;
    top: -30px;
    background: transparent;
    line-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-size: 20px;
    width: 0;
    height: 0;
    z-index: 2;
  }
}

// A grid of categories
.category-grid {

  @include product-action;

  // Each individual category container
  .category {
    @include product-box;
    @include content-box;
  }

  // Vertically center them
  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  p {
    margin-bottom: 5px;
  }

  .product-title {
    text-align: center;
  }

  .product-description {
    margin-bottom: 10px;
    font-style: italic;
  }

  .button {
    position: absolute !important;
    bottom: -10px;
    left: 0;
    right: 0;
  }
}