// Global
$body-bg: url("../images/main_back_@2x.png");
// $body-font-color: $jet;
// $body-font-family: $font-family-sans-serif;
// $body-font-weight: $font-weight-normal;
// $body-font-style: normal;

// Grid max width (in px)
$row-width: rem-calc(1000);

// Column gutter
$column-gutter: rem-calc(15);

// Default body properties
$body-font-color: #666;
$body-background-color: #fff;
$body-font-family: 'Helvetica', sans-serif;
$base-font-size: 1em;

// Default colors
$primary-color: #aa2526;
$secondary-color: #868a8b;
$alert-color: #f04124;
$success-color: #8fae1b;
$warning-color: #f08a24;
$info-color: #a0d3e8;
$container-color: #222;

// Links
$anchor-font-color: $primary-color;
$anchor-font-color-hover: darken($anchor-font-color, 20%);

// We use these to control header font styles
$header-font-family: 'Arvo', serif;
$header-font-weight: bold;
$header-font-color: #333;
//$header-line-height: 1.4;
//$header-top-margin: .2rem;
//$header-bottom-margin: .5rem;

// Buttons
$button-function-factor: -20%;
$button-bg-color: $primary-color;
$button-bg-hover: scale-color($button-bg-color, $lightness: $button-function-factor);

// Make the overrides more powerful
button, .button {
  background: $button-bg-color !important;
  text-shadow: none !important;
  border: none !important;

  &:hover {
    background: $button-bg-hover !important;
  }
}