@mixin transition($prop, $time, $trans: null) {
  -webkit-transition: $prop $time $trans;
  -moz-transition: $prop $time $trans;
  -o-transition: $prop $time $trans;
  transition: $prop $time $trans;
}